.AttackCard {
	border-left: .05em solid #333;
	background-color: white;
	border-top-right-radius: 1em;
	border-bottom-right-radius: 1em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}