.DonateCard {
	border-right: .05em solid #333;
	text-align: center;
	max-width: 8em;
	background-color: white;
	border-top-left-radius: 1em;
	border-bottom-left-radius: 1em;
}

button {
	margin-top: 1em;
	margin-right: .5em;
	margin-left: .5em;
}

@media (width < 1000px) {
.DonateCard {
	display: flex;
	text-align: center;
	max-width: 100%;
	justify-content: center;

	}

button {
	max-width: 35%;
	margin-left: 1em;
	margin-right: 1em;
}
}
